@charset "utf-8";
@import "normalize";
// @include "bourbon";

@font-face {
  font-family: 'IcoMoon';
  src: url('../fonts/IcoMoon.eot');
  src: url('../fonts/IcoMoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/IcoMoon.svg#IcoMoon') format('svg'),
    url('../fonts/IcoMoon.woff') format('woff'),
    url('../fonts/IcoMoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.glyph {
  position: absolute;
  bottom: 25px;
  left: 40px;
  font-size: 60px;
  line-height: 50px;
  text-shadow: 0px 0px 3px #65A884;
  font-weight: normal;
  .fs1 {
    display: inline;
  }
}

// [data-icon]:before {
//   font-family: 'IcoMoon';
//   content: attr(data-icon);
//   speak: none;
// }

body {
  margin: 0;
  padding: 0;
}

#main {
  font-weight: bold;
  font-family: "larabiefont", courier, mono;
  // font-family: courier;
  background: black image-url("bg.jpg");
  color: #4FFF74;
  overflow: hidden;
  display: block;
  width: 960px;
  height: 600px;
  text-shadow: 0px 0px 6px #71BB90;
  font-size: 30px;
  line-height: 30px;
  ::selection {
  background: #4FFF74; /* Safari */
  color: #111;
  text-shadow: none;

  }
::-moz-selection {
  background: #4FFF74; /* Firefox */
  color: #111;
  text-shadow: none;
}
  position: relative;
  .inner {
    // position: relative;
    width: 870px;
    // height: 500px;
    display: block;
    margin: 30px auto;
  }
}

a {
  border: 2px solid #4FFF74;
  // background-color: #4FFF74;
  padding: 10px 20px;
  text-decoration: none;
  color: #4FFF74;
  position: absolute;
  bottom: 30px;
  right: 44px;
}

h2 {
  font-size: 40px;
}

p {
  margin-top: 0;
}

ul {
  //   margin: 0;
  // padding: 0;
}
li {
  display: none;
  // list-style: none;
  font-size: 25px;
  margin-top: 30px;
  list-style-type: square;

  -moz-box-shadow:    0 0 2px 1px #71BB90;
  -webkit-box-shadow: 0 0 2px 1px #71BB90;
  box-shadow:         0 0 2px 1px #71BB90;
}

#next {
  display: none;
}

span.info {
  color: pink;
}

.type {
  display: none;
}

ul {
  margin: 0;
  padding: 0;
}

ul.info li {
  margin: 0;
  padding: 0;
  padding: 4px 8px;
  margin-bottom: 20px;
  background: #4FFF74;
  color: #111;
  text-shadow: 0px 0px 2px #284234;
}
