---
title: First Page
---

<!-- <h2>Stock Market Challenge</h2> -->

<div class="glyph">
  <div class="fs1" aria-hidden="true" data-icon="&#x21;"></div>
  <div class="fs1" aria-hidden="true" data-icon="&#x22;"></div>
  <div class="fs1" aria-hidden="true" data-icon="&#x23;"></div>
  <div class="fs1" aria-hidden="true" data-icon="&#x24;"></div>
</div>

<p class="type">WELCOME BACK AGENT X. Today you shall learn to master Stomland's financial markets.</p>

<p class="type">The simulation will focus on 4 companies over a 3 year period. I have compiled some data to assist you in this challenge...</p>
<ul class="info">
  <li class="type">For the past 2 years Stomland's residents have faced rainy summers and cold winters</li>
  <li class="type">As a result of this, Umbrellacorp® [UMC] and Warm Clothes PLC [WCP] have been profitable.</li>
  <li class="type">However, IceCream Ltd [ICL] and FakeSnow™ [FSW] have suffered and are close to bankruptcy</li>
  <a href="#" id="next">Continue ></a>
</ul>


